.card {
  display: flex;
  width: 100%;
  padding: 1px;
  flex-direction: column;
  align-items: center;
  gap: 5px;

  background: rgba(255, 255, 255, 0.2);
  mix-blend-mode: darken;
  border-radius: var(--border-radius);
  border: 0.5px solid rgba(0, 90, 180, 0.5);
  .box {
    border-radius: 50px;
    border: 1px solid #1a836a;
    background: #67c23a;
    width: 90%;
    height: 15px;
  }
  .title {
    text-align: start;
    font-size: calc(var(--size-title) - 1px);
    font-weight: 700;
    color: #fff;
  }
  .boxTitle {
    border-radius: 5px 5px 0px 0px;
    background: rgba(0, 57, 114, 0.9);
    width: 100%;
    padding: 10px;
  }
  .scrollable {
    width: 100%;
    overflow: auto;
    padding: 0 8px;
    border-top: 1px solid rgba(140, 140, 140, 0.35);
    height: calc(100vh - (var(--header-height) + var(--height-filter) + 130px));
  }
  @media (max-width: 1450px) {
    .scrollable {
      height: 60dvh;
    }
  }
}
