.card_form {
  display: flex;
  padding: 10px;
  padding-bottom: 0;
  flex-direction: column;
  justify-content: center;
  flex: 1 0 0;
  border-radius: var(--Border-Radius-borderRadiusLG, 8px);
  background: var(--White-100-FFFFFF, #fff);
  box-shadow:
    0px 0px 6px 0px rgba(73, 121, 209, 0.08),
    0px 0px 6px 0px rgba(73, 121, 209, 0.38);
}
