.card {
  display: flex;
  width: 100%;
  padding: 1px;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  background: rgba(255, 255, 255, 0.2);
  mix-blend-mode: darken;
  border-radius: var(--Border-Radius-borderRadiusLG);
  box-shadow: 0px 0px 6px 0px rgba(73, 121, 209, 0.38);

  .title {
    text-align: start;
    font-size: calc(var(--size-title) - 1px);
    font-weight: 600;
    display: flex;
    line-height: 17px;
    color: #000;
    gap: 5px;
    flex-wrap: wrap;
    align-content: center;
  }
  .boxTitle {
    background: #e1ebf5;
    padding: 8px;
    margin: 4px;
    border-radius: 4px;
  }
  .value {
    width: 80px;
    height: 32px;
    justify-content: center;
    align-items: center;
    display: flex;
    background: #dcdfe6;
    border-radius: 50px;
    margin: 6px 0;
    font-size: var(--size-title);
    font-weight: 500;
  }
  .titleSub {
    justify-content: center;
    align-items: start;
    display: flex;
    flex-direction: column;
    margin: 6px 0;
    font-weight: 500;
    font-size: var(--size-title);
  }
}
.dataChart {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  gap: 30px;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #dcdfe6;
}
