.card {
  display: flex;
  width: 100%;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.2);
  mix-blend-mode: darken;
  border-radius: 5px;
  border: 0.5px solid rgba(0, 90, 180, 0.5);

  .title {
    text-align: start;
    font-size: calc(var(--size-title));
    font-weight: 700;
    width: 100%;
    margin-left: 10px;
  }

  .value {
    width: 80px;
    height: 32px;
    justify-content: center;
    align-items: center;
    display: flex;
    background: #dcdfe6;
    border-radius: 50px;
    margin: 6px 0;
    font-size: var(--size-title);
    font-weight: 500;
  }
  .titleSub {
    justify-content: center;
    align-items: start;
    display: flex;
    flex-direction: column;
    margin: 6px 0;
    font-weight: 500;
    font-size: var(--size-title);
  }
}
.dataChart {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  gap: 10px;
}

.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #dcdfe6;
}
