.popup {
  background-color: var(--white-bg);
  width: 380px;
  max-width: 95vw;
  padding: 32px 24px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 12px;

  .titlePopup {
    margin-top: 12px;
    font-size: 20px;
    font-weight: var(--font-weight);
    text-align: center;
  }

  .note {
    color: #515c69;
    font-weight: normal;
    line-height: inherit;
    margin-top: 4px;
    font-size: var(--size-text);
    text-align: center;
  }

  .groupBtnPopup {
    margin-top: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  &.warn {
    .titlePopup,
    .iconWarn {
      color: var(--warning);
    }
  }

  &.green {
    .titlePopup,
    .iconWarn {
      color: var(--green);
    }
  }

  &.danger {
    .titlePopup,
    .iconWarn {
      color: var(--danger);
    }
  }
}

.iconWarn {
  font-size: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary);
}

@media (max-width: 764px) {
  .popup {
    padding: 12px 24px;

    .titlePopup {
      font-size: var(--size-title-xl);
    }

    .note {
      margin-top: 6px;
      font-size: var(--size-text);
    }

    .groupBtnPopup {
      margin-top: 24px;
      gap: 12px;
    }
  }
}
