.section {
  padding: 24px;
  height: 100%;
  width: 100%;
}
.line {
  height: 1px;
  background-color: #c8c9cc;
  width: 100%;
}
.line2 {
  height: 100%;
  background-color: #c8c9cc;
  width: 20px;
  margin: 12px auto;
}
