.header {
  width: 100%;
  height: calc(var(--header-height) + var(--nav-height));
  //background: var(--bg-header);
  background: var(--bg-header);
  display: flex;
  flex-direction: column;
  transition: height ease-in 0.4s;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 444;
  .container {
    height: var(--header-height);
    display: flex;
    width: 100%;

    gap: 20px;
    padding: 10px;
    justify-content: space-between;
  }
}
.logo {
  display: flex;
  gap: 12px;
  align-items: center;
  //height: 3rem;
}
.title {
  color: var(--white-text);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}

.arrow {
  transition: 0.3s;

  &.open {
    transform: rotate(90deg);
  }
}
.notify {
  width: 30px !important;
  height: 40px !important;
}
.buttonDefault {
  width: 40px;
  height: 40px;
  font-size: 20px;
}
.buttonLogout {
  width: 162px;
  height: 40px;
  justify-content: flex-start;
  padding: 10px;
}
.container_overview {
  background-color: var(--white-bg);
  height: 100%;
  transition: background-color 2s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  margin: 10px;
}
