.header {
  width: 100%;
  //height: var(--header-height);

  display: flex;
  flex-direction: column;

  position: fixed;
  justify-content: center;
  top: 0;
  z-index: 1;
  padding: 0 10px;
  .container {
    height: var(--header-height);
    transition: height ease-in 1s;
    //transition: height ease-in 0.6s;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  &.isOverview {
    height: 100vh;
    transition: height ease-in 0.6s;
    padding: 2px 10px;
    background: var(--bg-main);
  }
}
.logo {
  display: flex;
  gap: 12px;
  align-items: center;
  //height: 3rem;
}
.title {
  color: var(--white-text);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}
.title_h1 {
  font-size: var(--size-title);
  color: var(--white-text);

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.arrow {
  transition: 0.3s;

  &.open {
    transform: rotate(90deg);
  }
}
.notify {
  width: 25px !important;
  height: 25px !important;
  padding: 0 4px;
  font-size: 11px !important;
}
.buttonDefault {
  width: 25px;
  height: 25px;
  padding: 0 4px;
  background-color: transparent;
  &:hover {
    background-color: transparent !important;
  }
}
.buttonLogout {
  width: 162px;
  height: 32px;
  justify-content: flex-start;
  padding: 10px;
}
.container_overview {
  background-color: var(--white-bg);
  height: 100%;
  transition: background-color 1.5s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
  margin: 10px 0;
}
