* {
  --color-primary: #4979d1;
}

.ant-form-item {
  margin-bottom: 12px !important;
}
.ant-form-item .ant-form-item-label > label {
  font-size: var(--size-text) !important;
}
.ant-input,
.ant-input-affix-wrapper-lg,
.ant-select-single .ant-select-selector,
.ant-select-dropdown .ant-select-item,
.ant-row,
.ant-col,
.ant-btn-sm {
  font-size: var(--size-text);
}
:where(.css-dev-only-do-not-override-3rel02).ant-form-item
  .ant-form-item-explain,
:where(.css-dev-only-do-not-override-3rel02).ant-form-item
  .ant-form-item-extra {
  font-size: calc(var(--size-text) - 2px) !important;
}
.ant-btn-primary {
  background: var(--color-primary);
}
.example {
  margin: 12px;
}

.filter_select.ant-select {
  .ant-select-selector {
    background: rgba(255, 255, 255, 0.3);
    border: none;
    border-radius: 10px;
    color: var(--white-text) !important;
    .ant-select-selection-placeholder,
    .ant-select-clear {
      color: var(--white-text) !important;
      font-size: var(--size-text) !important;
      font-weight: 600;
    }
  }
  .ant-select-arrow {
    color: var(--white-text) !important;
  }
}
.form_filter_select {
  .ant-form-item .ant-form-item-label > label {
    font-size: calc(var(--size-text) + 1px) !important;
    color: var(--white-text);
    font-weight: 600;
    margin-left: 5px;
  }
  .ant-col.ant-form-item-label {
    //padding-bottom: 4px;
    label {
      margin-left: 12px !important;
    }
  }
  .ant-form-item {
    margin: 0 !important;
  }
  .ant-col.ant-form-item-label {
    padding: 0 0 4px !important;
  }
}
//table
.ant-pagination {
  padding: 10px;
  height: 50px;
  font-size: var(--size-text) !important;
}
.ant-table-wrapper .ant-table {
  font-size: var(--size-text) !important;
}
:where(.css-dev-only-do-not-override-zg0ahe).ant-table-wrapper .ant-table-cell,
:where(.css-dev-only-do-not-override-zg0ahe).ant-table-wrapper
  .ant-table-thead
  > tr
  > th,
:where(.css-dev-only-do-not-override-zg0ahe).ant-table-wrapper
  .ant-table-tbody
  > tr
  > th,
:where(.css-dev-only-do-not-override-zg0ahe).ant-table-wrapper
  .ant-table-tbody
  > tr
  > td,
:where(.css-dev-only-do-not-override-zg0ahe).ant-table-wrapper tfoot > tr > th,
:where(.css-dev-only-do-not-override-zg0ahe).ant-table-wrapper tfoot > tr > td {
  padding: 10px 16px;
}

// custom scrollbar
.ant-table-wrapper {
  .ant-table-body::-webkit-scrollbar {
    width: 4px !important;
  }
}
.ant-table-wrapper .ant-table {
  scrollbar-color: unset;
}
