* {
  --color-primary: #4979d1;
}

.ant-form-item {
  margin-bottom: 12px !important;
}
.ant-form-item .ant-form-item-label > label {
  font-size: var(--size-text) !important;
}
.ant-input,
.ant-input-affix-wrapper-lg,
.ant-select-single .ant-select-selector,
.ant-select-dropdown .ant-select-item {
  font-size: var(--size-text) !important;
}
:where(.css-dev-only-do-not-override-3rel02).ant-form-item
  .ant-form-item-explain,
:where(.css-dev-only-do-not-override-3rel02).ant-form-item
  .ant-form-item-extra {
  font-size: calc(var(--size-text) - 2px) !important;
}
.ant-btn-primary {
  background: var(--color-primary);
}
.example {
  margin: 12px;
}

/* Force update ant style */
// .ant-input {
//   padding: 16px 12px 4px 11px;
// }

// .ant-select .ant-select-selector {
//   padding: 16px 10px 4px 11px;
// }

// .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
//   padding: 16px 10px 4px 11px;
//   height: 48px;
// }

// .ant-select-single .ant-select-selector .ant-select-selection-search {
//   top: 16px;
// }
