* {
  font-family: 'Be Vietnam Pro', sans-serif;
}

@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('/static/fonts/BeVietnamPro-ExtraBoldItalic.ttf');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('/static/fonts/BeVietnamPro-ExtraBold.ttf');
  font-weight: 800;
}

@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('/static/fonts/BeVietnamPro-BoldItalic.ttf');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('/static/fonts/BeVietnamPro-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('/static/fonts/BeVietnamPro-SemiBoldItalic.ttf');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('/static/fonts/BeVietnamPro-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('/static/fonts/BeVietnamPro-MediumItalic.ttf');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('/static/fonts/BeVietnamPro-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('/static/fonts/BeVietnamPro-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('/static/fonts/BeVietnamPro-Italic.ttf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('/static/fonts/BeVietnamPro-LightItalic.ttf');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('/static/fonts/BeVietnamPro-Light.ttf');
  font-weight: 300;
}

body {
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  overflow-y: overlay;
  overscroll-behavior: none;
  touch-action: manipulation;
  -webkit-user-drag: none;
}
/* Đặt chiều rộng và chiều cao của thanh cuộn */
html *::-webkit-scrollbar {
  width: 6px !important; /* Chiều rộng thanh cuộn dọc */
  height: 6px !important; /* Chiều cao thanh cuộn ngang */
}

/* Đặt màu nền của thanh cuộn */
html *::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Đặt màu và hình dạng của thanh cuộn */
html *::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

/* Thay đổi màu thanh cuộn khi di chuột qua */
html *::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background: rgb(36, 60, 136);
}
