@import './theme';
@import './stylesGlobals';
@import './configAntd';

:root {
  --toastify-toast-min-height: 56px;
  --header-height: 5.7rem;
  --nav-height: 3.7rem;
  --nav-aside: 50px;
  --menu-width: 300px;
  --size-text: 11.5px;
  --size-label: 11.4px;
  --size-title: 13px;

  --size-title-xl: 15px;
  --size-title-components: 1rem;

  --font-weight: 400;
  --font-weight-title: 500;
  --bg-main: linear-gradient(
    135deg,
    rgb(71, 120, 209) 29%,
    rgb(247, 170, 248) 100%
  );
  --bg-main-2: conic-gradient(
    from 180deg at 100% 0%,
    rgba(148, 11, 170, 0.31) -20.9deg,
    #4979d1 100.93deg,
    #f6a8f8 199.76deg,
    rgba(148, 11, 170, 0.31) 339.1deg,
    #4979d1 460.93deg
  );
  --bg-header: conic-gradient(
    from 167deg at 100% 0%,
    rgba(148, 11, 170, 0.31) -20.9deg,
    #597fd3 100.93deg,
    #bca6e1 199.76deg,
    rgba(148, 11, 170, 0.31) 339.1deg,
    #4979d1 460.93deg
  );
  --white-text: #fff;
  --white-bg: #fff;
  --white-bg-active: #c8c9cc;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Be Vietnam Pro';
  color: #000;
  background: var(--bg-main-2);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
}
body {
  line-height: 1.5;
}

//custom
//progress Page
/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #fff;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow:
    0 0 10px #fff,
    0 0 5px #fff;
  opacity: 1;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: #fff;
  border-left-color: #fff;
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.Toastify__close-button--light {
  color: #000;
  opacity: 0.8 !important;
}

.toastify-custom {
  color: var(--light);
  text-align: center;
  padding: 6px 12px;
  line-height: 24px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 4px;
}

.toastify-custom-success {
  text-align: center;
  padding: 6px 12px;
  line-height: 24px;
  background-color: #fff;
  border-radius: 4px;
  color: #000;
  font-size: var(--size-text);
  font-weight: var(--font-weight);
  line-height: 22px;
}

.toastify-custom-info {
  text-align: center;
  padding: 6px 12px;
  line-height: 24px;
  background-color: #fff;
  border-radius: 4px;
  color: #000;
  font-size: var(--size-text);
  font-weight: var(--font-weight);
  line-height: 22px;
}

.toastify-custom-error {
  text-align: center;
  padding: 6px 12px;
  line-height: 24px;
  background-color: #fff;
  border-radius: 4px;
  color: #000;
  font-size: var(--size-text);
  font-weight: var(--font-weight);
  line-height: 22px;
}

.toastify-custom-warn {
  text-align: center;
  padding: 6px 12px;
  line-height: 24px;
  background-color: #fff;
  border-radius: 4px;
  color: #000;
  font-size: var(--size-text);
  font-weight: var(--font-weight);
  line-height: 22px;
}
.Toastify__toast-body {
  padding: 0 6px;
}
.menu_main.ant-menu-light {
  border-radius: 0px 10px 10px 0px;
  background: var(--white-bg);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
  overflow: auto;
  height: auto;
  left: 0;
  top: 45px;
  max-width: 300px;
  max-height: 60vh;
  z-index: 500;
  position: absolute;
  .ant-menu-submenu-title,
  .ant-menu-title-content {
    color: rgb(110, 176, 76) !important;
    font-size: var(--size-text);
  }
  .ant-menu.ant-menu-sub.ant-menu-inline {
    margin: 10px;
    border-radius: 10px;
  }
  .ant-menu-item.ant-menu-item-selected.ant-menu-item-only-child {
    border-radius: 10px;
    background: #d9f4ba;
  }
}

.content_web_roche {
  padding-top: calc(var(--header-height) + 5px);
}
.list_overview.ant-list-split .ant-list-item {
  border-block-end: none !important;
  padding: 6px 0;
}
