@import './theme';
@import './stylesGlobals';
@import './configAntd';

:root {
  --toastify-toast-min-height: 56px;
  --header-height: 42px;
  --nav-height: 3.7rem;
  --height-filter: 74px;
  --height-filter-mobi: 140px;
  --nav-aside: 50px;
  --menu-width: 300px;
  --size-text: 10px;
  --size-label: 11px;
  --size-title: 11px;
  --border-radius: 5px;
  --size-title-xl: 15px;
  --size-title-components: 1rem;

  --font-weight: 400;
  --font-weight-title: 500;
  --bg-main: rgba(0, 57, 114, 0.9);

  --white-text: #fff;
  --white-bg: #fff;
  --white-bg-active: #c8c9cc;
  //
  --light: #fff;
  --dark: #000;
  --primary: #4979d1;
  --grey: #ccc;
  //
  --warning: rgb(247, 160, 0);
  --light-warning: rgba(251, 165, 0, 0.1);

  --danger: #f85050;
  --light-danger: rgba(242, 77, 77, 0.1);

  --green: rgba(24, 188, 60, 1);
  --light-green: rgba(11, 204, 111, 0.1);

  //figma
  --Components-Tabs-Component-borderRadius: 10px;
  --Border-Radius-borderRadiusLG: 8px;
  --White-100-FFFFFF: #fff;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Be Vietnam Pro';
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
}
body {
  line-height: 1.5;
}
p {
  font-size: var(--size-text);
}
h5 {
  font-size: var(--size-title);
}
h2 {
  font-size: var(--size-title-xl);
}
.layout_roche {
  font-family: 'Be Vietnam Pro' !important;
  background-color: var(--bg-main);
  height: 100vh;
}
.layout_children {
  flex-direction: row;
  height: 100%;
  background-color: transparent;
  .aside_sider {
    background-color: transparent;
    height: 100%;
    display: flex;
    .sider_custom {
      width: 12vw;
      margin: 10px 0 10px 10px;
      border-radius: 0px 10px 10px 0px;
    }
  }
}
.container_roche {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  .main_roche {
    margin: 10px;
    //overflow-x: hidden;
    height: 100%;
    background-color: var(--white-bg);
    border-radius: var(--border-radius);
    //overflow-y: auto;
    overflow: auto;
    padding: 10px;
    z-index: 0;
    position: relative;
  }
}
//custom
//progress Page
/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #fff !important;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow:
    0 0 10px #fff,
    0 0 5px #fff !important;
  opacity: 1;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: #fff !important;
  border-left-color: #fff !important;
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.Toastify__close-button--light {
  color: #000;
  opacity: 0.8 !important;
}

.toastify-custom {
  color: var(--light);
  text-align: center;
  padding: 6px 12px;
  line-height: 24px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 4px;
}

.toastify-custom-success {
  text-align: center;
  padding: 6px 12px;
  line-height: 24px;
  background-color: #fff;
  border-radius: 4px;
  color: #000;
  font-size: var(--size-text);
  font-weight: var(--font-weight);
  line-height: 22px;
}

.toastify-custom-info {
  text-align: center;
  padding: 6px 12px;
  line-height: 24px;
  background-color: #fff;
  border-radius: 4px;
  color: #000;
  font-size: var(--size-text);
  font-weight: var(--font-weight);
  line-height: 22px;
}

.toastify-custom-error {
  text-align: center;
  padding: 6px 12px;
  line-height: 24px;
  background-color: #fff;
  border-radius: 4px;
  color: #000;
  font-size: var(--size-text);
  font-weight: var(--font-weight);
  line-height: 22px;
}

.toastify-custom-warn {
  text-align: center;
  padding: 6px 12px;
  line-height: 24px;
  background-color: #fff;
  border-radius: 4px;
  color: #000;
  font-size: var(--size-text);
  font-weight: var(--font-weight);
  line-height: 22px;
}
.Toastify__toast-body {
  padding: 0 6px;
}

.content_web_roche {
  padding-top: calc(var(--header-height));
  height: 100vh;
  background-color: var(--bg-main);
}
.list_overview.ant-list-split .ant-list-item {
  border-block-end: none !important;
  padding: 6px 0;
}

///custom generalLab
.table_generalLab.ant-table-wrapper {
  .ant-table-cell.grouped-cell {
    padding: 4px;
    color: #fff;

    &.left {
      padding-right: 0;
    }

    &.right {
      padding-left: 0;
    }
    .cell-left {
      background: #2ea757 !important;
      border-top-left-radius: 8px !important;
      border-bottom-left-radius: 8px !important;
      height: 100%;
      display: flex;
      width: 100%;
    }
    .cell-center {
      background: #2ea757 !important;
      border-radius: 0;
      width: 100%;
      height: 100%;
      display: flex;
      width: 100%;
    }
    .cell-right {
      background: #2ea757 !important;
      border-top-right-radius: 8px !important;
      border-bottom-right-radius: 8px !important;
      width: 100%;
      height: 100%;
      display: flex;
      width: 100%;
    }
  }

  .ant-table-wrapper .ant-table-cell {
    padding: 10px;
  }
  //sample
  .ant-table-cell.sampleType,
  .ant-table-cell.tubeType,
  .ant-table-cell.timeNotify,
  .ant-table-cell.collection {
    padding: 4px;
    .type_green {
      background: #2ea757;
      height: 100%;
      border-radius: 8px;
      padding: 5px 10px;
      display: flex;
      justify-content: center;
      align-content: center;
      flex-wrap: wrap;
      color: #fff;
    }
    .type_green2 {
      background: #1a836a;
      height: 28px;
      border-radius: 8px;
      padding: 5px 10px;
      display: flex;
      justify-content: center;
      align-content: center;
      flex-wrap: wrap;
      color: #fff;
    }
    .type_red {
      background: #e45454;
      height: 28px;
      border-radius: 8px;
      padding: 5px 10px;
      display: flex;
      justify-content: center;
      align-content: center;
      flex-wrap: wrap;
      color: #fff;
    }
    .type_gray {
      background: #979797;
      height: 28px;
      border-radius: 8px;
      padding: 5px 10px;
      display: flex;
      justify-content: center;
      align-content: center;
      flex-wrap: wrap;
      color: #fff;
    }
    .type_orange {
      background: #f28120;
      height: 28px;
      border-radius: 8px;
      padding: 5px 10px;
      display: flex;
      justify-content: center;
      align-content: center;
      flex-wrap: wrap;
      color: #fff;
    }
  }
  .tubecolor_red {
    background: #e45454;
    width: 20px;
    height: 20px;
    border-radius: 50%;

    border: 8px solid #1a836a;
    margin: 0 auto;
  }
  .tubecolor_blue {
    background: #2ea757;
    width: 20px;
    height: 20px;
    border: 8px solid #2ea757;
    border-radius: 50%;
    margin: 0 auto;
  }
}
