.main {
  border-radius: 10px;
  background: #fff;
  padding: 10px;
  margin: 0 10px;
  height: var(--nav-aside);
  .button_menu {
    padding: 8px 12px;
    justify-content: space-between;
    height: 40px;
  }
  .route {
    transition: 0.3s;

    &.open {
      transform: rotate(90deg);
    }
  }
}
