.container {
  //border-radius: var(--border-radius);
  background: linear-gradient(0deg, #fff 0%, #fff 100%),
    rgba(255, 255, 255, 0.2);
  padding: 10px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.08);
  //margin: 10px;
  margin-bottom: 0;
  width: 100%;
  height: var(--height-filter);
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1450px) {
  .container {
    height: var(--height-filter-mobi);
  }
}
