.container {
  border-radius: var(--border-radius);
  background: linear-gradient(0deg, #fff 0%, #fff 100%),
    rgba(255, 255, 255, 0.2);
  padding: 10px;
  margin: 10px;
  margin-bottom: 0;
  width: 100%;
  height: var(--height-filter);
}
@media (max-width: 1450px) {
  .container {
    height: var(--height-filter-mobi);
  }
}
