.container {
  width: 100%;
  height: 100%;
  .main {
    margin: 10px;
    overflow-x: hidden;
    height: calc(
      100vh - (var(--header-height) + var(--nav-aside) + 84px + 36px)
    );
    background-color: var(--white-text);
    border-radius: 10px;
    overflow-y: auto;
    padding: 10px;
  }
}
@media screen and (min-width: 1400px) {
  .container .main {
    height: auto !important;
  }
}
