.form_section {
  width: 100%;
  display: flex;
  flex-direction: column;
  .header_form {
    background: #fff;
    margin: 10px 0;
    padding: 10px;
  }
  .container_form {
    //background: #fff;
    //padding: 0 10px;
    height: 100%;
  }
}
