.card {
  display: flex;
  width: 100%;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  mix-blend-mode: darken;
  border-radius: 5px;
  border: 0.5px solid rgba(0, 90, 180, 0.5);

  .title {
    //text-align: center;
    font-size: calc(var(--size-title));
    font-weight: 700;
    //margin-left: 10px;
  }
  .moreOutlined {
    font-size: 22px;
    font-weight: 600;
    cursor: pointer;
  }
}
