.main {
  .button_menu {
    padding: 0 10px;
    justify-content: space-between;
    height: 25px;
    font-size: var(--size-label);
    display: flex;
    width: 120px;
    background-color: transparent;
    color: #fff;
    &:hover {
      background-color: transparent !important;
    }
  }
  .route {
    transition: 0.3s;

    &.open {
      transform: rotate(90deg);
    }
  }
}
.slider_main {
  position: relative;
  display: flex;
  align-items: center;
}
